<ion-header>
  <ion-toolbar>
    <ion-title>
      Memo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
          <form >
              <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-button slot='end' fill='clear' (click)="create(todoName.value); todoName.value=''">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-button >
                <ion-input #todoName></ion-input>
              </ion-item>
            </form>
            
            
            <ion-list>
              <ion-item *ngFor="let todo of todos">
                <ion-button fill='clear' routerLink="/detail/{{todo.id}}">
                  <ion-label>{{todo.title}}</ion-label>
                </ion-button>
                <ion-button slot='end' fill='clear' (click)="delete(todo)">
                  <ion-icon name="close-circle"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
      </ion-col>
      <!--
      <ion-col size='4'>
        <ion-thumbnail>
          <img src="assets/images/自己紹介.JPG">
        </ion-thumbnail>
        <ion-text color="secondary">
          <h1>自己紹介</h1>
        </ion-text>
        <ion-text>
        鹿児島から福岡にきてプログラミングを勉強中
        </ion-text>
        <br>
      </ion-col>
    -->
    </ion-row>
  </ion-grid>
</ion-content>
 