<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{todo.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Title:</ion-label>
      <ion-input [(ngModel)]="todo.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Text:</ion-label>
        <ion-textarea [(ngModel)]="todo.text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button (click)="save()">save</ion-button>
      <ion-button (click)="goBack()">goBack</ion-button>    
    </ion-item>

  </ion-list>
  
</ion-content>
